* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-bg: #eeeeee;
  --dark-bg: #1d1d1d;
  --primary-color: #a1068480;
  --shadow-1: 0px 0px 15px 0px #00000080 inset;
  --shadow-2: 0px 0px 5px 0px #00000080;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-areas:
    "nav"
    "info"
    "projects"
    "skills";
    row-gap: 20px;
  padding: 20px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}
img {
  width: 100%;
}

hr {
  border: 1px solid #a1068480;
}

/*  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
}
/* menu */
nav > button {
  width: 230px;
  height: 60px;
  background-color: #efefef;
  border: none;
  border-radius: 50px;
  box-shadow: var(--shadow-1);
  font-size: 1.2rem;
  font-weight: bold;
}
/* switch */
nav .switch {
  position: relative;
  display: flex;
  align-items: center;
}
nav .switch input[type="checkbox"] {
  display: none;
}
nav .switch label {
  width: 80px;
  height: 45px;
  background-color: #faff0080;
  border: 1px solid #000000;
  border-radius: 24px;
  padding: 0.1rem;
  cursor: pointer;
}
nav .switch label::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.2s;
}
nav .switch input[type="checkbox"]:checked ~ label {
  background-color: #00063a;
  border: 1px solid #0060b8;
}
nav .switch input[type="checkbox"]:checked ~ label::after {
  left: 40px;
  border: 1px solid #0060b8;
}

#info,
#projects,
#skills {
  min-height: 50vh;
  box-shadow: var(--shadow-1);
  border-radius: 24px;
  padding: 20px;
}

#info {
  grid-area: info;
}
#info .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#info .content .profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#info .content .social {
  display: flex;
  gap: 10px;
}
#info .content .social a {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: white;
  box-shadow: var(--shadow-1);
  border-radius: 50%;
}
#info .content .social a img {
  margin: 8px;
}
#info .content .description p {
  font-size: 1.2rem;
}

/* Projects */

#projects .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 260px));
  gap: 20px;
  place-content: center;
}
#projects .card-container .card {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: var(--shadow-1);
}
#projects .card-container .card h3 {
  font-size: 1.5rem;
}
#projects .card-container .card p {
  font-size: 1.2rem;
}

/* skills */

#skills {
  grid-area: skills;
}

#skills .skills-container,
#skills .learn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
}

#skills .skills-container img,
#skills .learn-container img {
  width: 70px;
  height: 70px;
}

@media screen and (min-width:768px) {
  .separator {
    display: none;
  }
  
  main {
    grid-template-areas: 
    'nav nav nav'
    'info info info'
    'projects projects projects'
    'skills skills skills'
    ;
  }

  /* Nav */

  /* Info */

  #info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #info .content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #info .content .profile {
    align-items: end;
  }
  #info img {
    width: 200px;
  }
  #info .description {
    width: 360px;
  }

  /* Projects */

  

  /* Skills */
  
}